<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>父</string>
		<key>father</key>
		<string>爷爷</string>
		<key>mother</key>
		<string>奶奶</string>
		<key>elderbrother</key>
		<string>伯伯</string>
		<key>littlebrother</key>
		<string>叔叔</string>
		<key>son</key>
		<string>哥哥或者弟弟</string>
		<key>daughter</key>
		<string>姐姐或者妹妹</string>
		<key>wife</key>
		<string>母亲</string>
		<key>eldersister</key>
		<string>姑姑</string>
		<key>littlesister</key>
		<string>姑姑</string>
		<key>husband</key>
		<string>父亲哪里有丈夫</string>
	</dict>
	<dict>
		<key>name</key>
		<string>母</string>
		<key>father</key>
		<string>姥爷</string>
		<key>mother</key>
		<string>姥姥</string>
		<key>elderbrother</key>
		<string>舅舅</string>
		<key>littlebrother</key>
		<string>舅舅</string>
		<key>son</key>
		<string>哥哥或者弟弟</string>
		<key>daughter</key>
		<string>姐姐或者妹妹</string>
		<key>wife</key>
		<string>母亲哪来的妻子</string>
		<key>eldersisiter</key>
		<string>姨</string>
		<key>littlesister</key>
		<string>姨</string>
		<key>husband</key>
		<string>父亲</string>
	</dict>
	<dict>
		<key>name</key>
		<string>子</string>
		<key>father</key>
		<string>自己或者媳妇</string>
		<key>mother</key>
		<string>自己或者老婆</string>
		<key>elderbrother</key>
		<string>儿子</string>
		<key>littlebrother</key>
		<string>儿子</string>
		<key>son</key>
		<string>孙子</string>
		<key>daughter</key>
		<string>孙女</string>
		<key>wife</key>
		<string>儿媳</string>
		<key>eldersisiter</key>
		<string>女儿</string>
		<key>littersisiter</key>
		<string>女儿</string>
		<key>husband</key>
		<string>儿子有丈夫 你确定？</string>
	</dict>
	<dict>
		<key>name</key>
		<string>女</string>
		<key>father</key>
		<string>自己或者老婆</string>
		<key>mother</key>
		<string>自己或者老公</string>
		<key>elderbrother</key>
		<string>儿子</string>
		<key>littlebrother</key>
		<string>儿子</string>
		<key>son</key>
		<string>外孙</string>
		<key>daughter</key>
		<string>外孙女</string>
		<key>wife</key>
		<string>女儿有妻子 你确定</string>
		<key>eldersister</key>
		<string>女儿</string>
		<key>littlesister</key>
		<string>女儿</string>
		<key>husband</key>
		<string>女婿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兄</string>
		<key>father</key>
		<string>父亲</string>
		<key>mother</key>
		<string>母亲</string>
		<key>elderbrother</key>
		<string>哥哥</string>
		<key>littlebrother</key>
		<string>自己或者弟弟也有可能是哥哥</string>
		<key>son</key>
		<string>侄子</string>
		<key>daughter</key>
		<string>侄女</string>
		<key>wife</key>
		<string>嫂子</string>
		<key>eldersister</key>
		<string>姐姐</string>
		<key>littlesister</key>
		<string>姐姐或者妹妹，也有可能是你自己</string>
		<key>husband</key>
		<string>你兄弟有丈夫，咦~~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>弟</string>
		<key>father</key>
		<string>父亲</string>
		<key>mother</key>
		<string>母亲</string>
		<key>elderbrother</key>
		<string>自己或者哥哥也有可能是弟弟</string>
		<key>littlebrother</key>
		<string>弟弟</string>
		<key>son</key>
		<string>侄子</string>
		<key>daughter</key>
		<string>侄女</string>
		<key>wife</key>
		<string>弟媳、弟妹</string>
		<key>eldersister</key>
		<string>妹妹或者姐姐也有可能是自己</string>
		<key>littlesister</key>
		<string>妹妹</string>
		<key>husband</key>
		<string>弟弟有丈夫，没搞错吧</string>
	</dict>
	<dict>
		<key>name</key>
		<string>姐姐</string>
		<key>father</key>
		<string>父亲</string>
		<key>mother</key>
		<string>母亲</string>
		<key>elderbrother</key>
		<string>哥哥</string>
		<key>littlebrother</key>
		<string>自己或者哥哥也有可能是弟弟</string>
		<key>son</key>
		<string>外甥</string>
		<key>daughter</key>
		<string>外甥女</string>
		<key>wife</key>
		<string>姐姐有妻子，这么嗨</string>
		<key>eldersister</key>
		<string>姐姐</string>
		<key>littlesister</key>
		<string>姐姐或者妹妹 也有可能是你自己</string>
		<key>husband</key>
		<string>姐夫</string>
	</dict>
	<dict>
		<key>name</key>
		<string>妹</string>
		<key>father</key>
		<string>父亲</string>
		<key>mother</key>
		<string>母亲</string>
		<key>elderbrother</key>
		<string>自己或者兄弟</string>
		<key>littlebrother</key>
		<string>弟弟</string>
		<key>son</key>
		<string>外甥</string>
		<key>daughter</key>
		<string>外甥女</string>
		<key>wife</key>
		<string>妹妹也有妻子，开玩笑</string>
		<key>eldersister</key>
		<string>自己或者姐妹</string>
		<key>littlesister</key>
		<string>妹妹</string>
		<key>husband</key>
		<string>妹夫</string>
	</dict>
	<dict>
		<key>name</key>
		<string>妻</string>
		<key>father</key>
		<string>丈母爷</string>
		<key>mother</key>
		<string>丈母娘</string>
		<key>elderbrother</key>
		<string>哥</string>
		<key>littlebrother</key>
		<string>弟弟</string>
		<key>son</key>
		<string>儿子</string>
		<key>daughter</key>
		<string>女儿</string>
		<key>wife</key>
		<string>妻子也有妻子？</string>
		<key>eldersister</key>
		<string>姐姐</string>
		<key>littlesister</key>
		<string>妹妹</string>
		<key>husband</key>
		<string>那不就是自己吗</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我</string>
		<key>father</key>
		<string>父亲</string>
		<key>mother</key>
		<string>母亲</string>
		<key>elderbrother</key>
		<string>哥哥</string>
		<key>littlebrother</key>
		<string>弟弟</string>
		<key>son</key>
		<string>儿子</string>
		<key>daughter</key>
		<string>女儿</string>
		<key>wife</key>
		<string>妻子</string>
		<key>eldersister</key>
		<string>姐姐</string>
		<key>littlesister</key>
		<string>妹妹</string>
		<key>husband</key>
		<string>我不喜欢男人</string>
	</dict>
</array>
</plist>
